html {
  --dark-snow: #e5e5e5;
  --smoke: #8e8e8e;
  --dark-smoke: #555555;
  --dark-blue: #167abc;
  --snow: #f5f5f5;
  --border: #00000033;
  --container-width: 80%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--dark-snow);
  font-family: "PT Sans Caption", sans-serif;
  color: var(--dark-smoke);
}
